*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  display: flex;
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.content{
  display: flex;
  width: 1140px;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  margin-left: 30px;
  margin-right: 30px;
  margin-bottom: 133px;
  margin-top: -7px;
}

.result{
  align-items: end;
  padding-top: 78px;
  padding-right: 30px;
}

.content__details{
  width: 100%;
  font-family: 'Oswald', sans-serif;
}

.content__list-container{
  display: flex;
  flex-direction: column;
  height: 298px;
  overflow-y: auto;
  gap: 30px;
}

.search-form{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
}


.content__list{
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.result__video-container{
  width: 711px;
  height: 386px;
  margin-bottom: 16px;
}

.result__video{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.content__video-card{
  display: flex;
  flex-direction: row;
  align-items: start;
}

.content__video-card-thumbnail{
  padding-right: 3px;
  height: 103px;
  width: 194px;
  object-fit: cover;
  object-position: center;
}

.content__video-card-description-container{
  flex-grow: 1;
}

.search-form__fieldset-title{
  font-size: 18px;
  font-weight: 400;
  padding-bottom: 5px;
}

.title{
  margin-bottom: 20px;
  font-size: 75px;
  font-weight: bold;
  text-transform: uppercase;
  line-height: 69px;
}

.content__card-link{
  text-decoration: none;
  color: #fff;
}

.content__video-card-title{
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
}

.content__accent{
  color: #545050;
}

.content__video-card-description{
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  font-weight:400;
  line-height: 16.2px;
  line-clamp:1;
}

